*{
    margin: 0;
    padding: 0;
}

#top {
    margin: 0px;
    color: white;
    background-color: black;
}
#stores{
display: flex;

    
}
.storeContainer {
    display: flex;
    background-color: rgb(236, 233, 233);
    margin-top: 1em;
    width: 10em;
    height: 10em;
    margin-left: 3em;
    box-shadow: 0.75em 0.75em 0.5em lightblue;
    flex-flow:wrap column;
    justify-content: space-between
}
.storeContainer>h2{
    background-color: aqua;
}
#loan {
    height: 3em;
    background-color: green;
    margin: 0em 0.5em 0.5em;
}
#workButtonsContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
    
}
#workButtonsContainer>button{
    flex-basis: 5em;
    
}
